<header class="title">
  <a href="/"><h1>X Value</h1></a>
  <h3>A Crypto SPA</h3>
  <p>The Market is: <span id="marketSentiment"></span></p>
  <b>X-value = % of all %ΔPrice in EUR in the last 24H.</b>
</header>
