<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#4c00ff"/>
  <title>X- Value</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../static/style.min.css" />
  <link rel="manifest" href="./manifest.webmanifest" />
  <link rel="shortcut icon" href="../static/icon-192x192.png" />

  <link rel="preload" href="/js/colorPCTChange-min.js" as="script" type="application/javascript" crossorigin>
  <link rel="preload" href="/js/marketSentiment-min.js" as="script" type="application/javascript" crossorigin>
  <link rel="preload" href="/js/renderNetworkStatus-min.js" as="script" type="application/javascript" crossorigin>
  <link rel="preload" href="/start-service-worker.js" as="script" type="application/javascript" crossorigin>
  <link rel="preload" href="/sw.js" type="application/javascript" as="worker">
  <link rel="preload" href="/js/main-min.js" as="script" type="module" type="application/javascript">
</head>
