<section class="offlineBannerSection">
  <div class="offlineBanner">
    <h4>Oops,</h4>
    <p>looks like you've just lost your internet connection</p>
  </div>
</section>
<section class="onlineBannerSection">
  <div class="onlineBanner">
    <h4>New</h4>
    <p>Internet connection established</p>
  </div>
</section>
