<section class="overview">
  <div class="loader display-none"></div>
  <table class="overviewTable">
    <h3>A Crypto SPA</h3>
    <p>The Market is: <span id="marketSentiment"></span></p>
    <b>X-value = % of all %ΔPrice in EUR in the last 24H.</b>
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th class="hideOnMediumScreen"></th>
        <th>Price</th>
        <th class="hideOnSmallerScreen">Market Capitalization</th>
        <th class="hideOnSmallScreen">Cirulating Supply</th>
        <th class="hideOnMediumScreen">Max Supply</th>
        <th class="">
          X Value <br />
          avg: <span id="headerX" class="percentageDeltaPrice"></span>

          <form action="" id="calculatePositionForm">
            <!-- <input type="text" placeholder="BTC" id="inputTicker" />
              <input
                id="investment"
                type="number"
                placeholder="# position"
              />
              <button type="submit">Calculate</button> -->
          </form>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="data display-none">
        <td>{{ listNumber }}</td>
        <td>
          &nbsp;
          <a href="index.html#details/{{ Name }} "
            ><object type="image/png"></object
          ></a>

          <a href="index.html#details/{{ Name }}">{{ FullName }} </a>

          <!-- <img
                src="imageNotFound.png"
                alt="Image not found"
                onerror="this.onerror=null;this.src='{{ FullName }}';"
                /> -->
        </td>
        <td class="hideOnMediumScreen">&nbsp;{{ Name }}</td>
        <td>
          &nbsp;{{ Price }}
          <span class="percentageDeltaPrice">{{ ChangePCT24Hrs }}<b>%</b></span>
        </td>
        <td class="hideOnSmallerScreen MarketCap">&nbsp;{{ MarketCap }}</td>
        <td class="hideOnSmallScreen">&nbsp; {{ Supply }}</td>
        <td class="hideOnMediumScreen">&nbsp;{{ maxSupply }}</td>
        <td class="coin{{ Name }} percentageDeltaPrice">&nbsp;</td>
        <td class="display-none MarketCapRAW">{{ MarketCapRAW }}</td>
      </tr>
    </tbody>
  </table>
</section>
