<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <main>
      <%- include('./partials/header.ejs')%>
      <!-- Input section for searching Tickers and their data -->

      <!-- <a href="#details/BTC">#details</a> -->

      <!-- <a href="#adadadas">router wildcard test</a> -->
      <!-- <button id="clearCache">Empty Cache</button> -->
      <!-- <section>
        <input
          class="inputTicker"
          name="inputTicker"
          type="text"
          aria-label="input crypto ticker"
          placeholder="search ticker e.a. BTC / ADA / AGI"
        />
        <label for="inputTicker"></label>
        <button class="searchBtn" type="submit">Submit</button>
      </section> -->

      <!-- Add wallet as soon as localStorage is done -->
      <section class="wallet"></section>

      <section class="overview">
        <div class="loader display-none"></div>
        <table class="overviewTable">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th class="hideOnMediumScreen"></th>
              <th>Price</th>
              <th class="hideOnSmallerScreen">Market Capitalization</th>
              <th class="hideOnSmallScreen">Cirulating Supply</th>
              <th class="hideOnMediumScreen">Max Supply</th>
              <th class="">
                X Value <br />
                avg: <span id="headerX" class="percentageDeltaPrice"></span>
              </th>
            </tr>
          </thead>

          <tbody>
            <% obj.forEach(function(coin, i){ %> <%-
            include('partials/tableRow', {data:[coin, i]}); %> <% }); %>
          </tbody>
        </table>
      </section>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/js/start-service-worker-min.js"></script>
    <script src="/js/main-min.js" type="module"></script>
  </body>
</html>
